<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liahnu.cards">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <activity
            android:name="com.liahnu.cards.characterActivity"
            android:label="人物列表">

        </activity>
        <activity
            android:name="com.liahnu.cards.SettingActivity"
            android:label="设置"></activity>
        <activity
            android:name="com.liahnu.cards.MainActivity"
            android:label="抽卡防上头模拟器">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>